.sidecart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid #fcb900;
  padding: 0;
  width: 10rem;
  margin-left: -1.5rem;
}

.sidecart-item h4 {
  margin: 0;
  color: #fcb900;
}

.summary {
  width: 12rem;
  display: flex;
  align-items: center;
}

.summary a {
  text-decoration: none;
  color: black;
}

.price {
  font-weight: bold;
  color: #ff6900;
}

.item_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  font-weight: bold;
  color: #fcb900;
  margin: 0.5rem 0 0 0;
}

.item_total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.qty {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.01rem 0.5rem;
  border-radius: 6px;
  color: #ff6900;
  border: 1px solid #ff6900;
}

.remove {
  color: red;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-align: end;
  background-color: transparent;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1.7rem;
}

.actions button {
  max-width: 1.6rem;
  max-height: 1.5rem;
}

.sidecart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #fcb900;
  border: 1px solid #fcb900;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin: 0.25rem;
}

.sidecart-item button:hover,
.sidecart-item button:active {
  background-color: #fcb900;
  color: white;
}

@media (max-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
