.part_details_layout {
  display: flex;
}

.close {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  color: red;
  border: 1px solid #ccc;
  padding: 0.01rem 0.5rem;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  width: 1.5rem;
  max-height: 1.3rem;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem 0 0 1rem;
}

.upper_body {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.side {
  align-items: flex-end;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  width: 25rem;
  max-height: 100%;
}

.side p {
  text-align: center;
}

.details {
  width: 75rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.details h1 {
  color: #fcb900;
}

.details h2 {
  color: #fcb900;
}

.partdetails-title {
  display: flex;
  justify-content: space-between;
}

.btn {
  font: inherit;
  cursor: pointer;
  background-color: #fcb900;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-weight: bold;
}

.reviews {
  max-width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 5px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  color: #fcb900;
  cursor: pointer;
}

.tabs :hover,
.tabs :active {
  border-bottom: 3px solid #fcb900;
}

@media screen and (max-width: 900px) {
  .part_details_layout {
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .side {
    align-items: flex-end;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  .img {
    width: 50%;
    height: inherit;
  }
}

@media (max-width: 827px) {
  .upper_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
