.order {
  display: flex;
  flex-direction: column;
  color: #fcb900;
  padding: 0rem 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  max-height: 10rem;
}

.list_body{
  display: flex;
  flex-direction: column;
}

.list_body h4{
  margin-top: -1rem;
  
}

.orderedItem_head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fcb900;
}

.orderedItem_head button{
  max-height: 1.5rem;
  color: red;
  font-size: large;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.ordereditem_footer{
  display: flex;
  justify-content: flex-end;
  color: #fcb900;
}

@media (max-width: 900px) {
  .order {
    width: 25rem;
    
  }
}

@media (max-width: 530px) {
  .order {
    max-width: 250px;
    font-size: small;
  }
}
