.rap {
  margin: 1.5% 5px;
  cursor: pointer;
}

.rap a {
  text-decoration: none;
  color: black;
}

.part {
  margin: 1rem 1.5rem 1rem 1.5rem;
  width: 10rem;
  height: 17rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  border: 1px solid rgba(167, 165, 165, 0);
  border-radius: 5px;
  box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-top: -1rem;
}

.img_dev {
  display: flex;
  justify-content: center;
}

.part h3 {
  color: #fcb900;
  text-align: center;
}

.description {
  font-style: italic;
  text-align: center;
}

.price {
  font-weight: bold;
  color: #ff6900;
  font-size: 1.25rem;
  text-align: center;
}

/* @media (width: 320px) {
  .part {
    display: grid;
    margin: 0%;
    border-bottom: none;
  }
  .img {
    width: 50;
    height: 50;
    margin-left: -2.9rem;
  }

  .part h3 {
    font-size: 80%;
    max-width: 70%;
    max-height: 1px;
    margin-top: -20%;
  }
  .description {
    font-size: 70%;
    max-width: 70%;
    max-height: 1px;
    margin-top: -20%;
  }
  .price {
    font-size: 70%;
    max-width: 70%;
    max-height: 1px;
    margin-top: -20%;
  }
  .border {
    border-bottom: 1px solid #ccc;
  }
}

@media (width: 375px) {
  .part {
    display: grid;
    margin: 0%;
    border-bottom: none;
  }
  .img {
    width: 55;
    height: 55;
    margin-left: -2.8rem;
  }
  .part h3 {
    font-size: 85%;
    max-width: 75%;
    max-height: 1px;
    margin-top: -20%;
  }
  .description {
    font-size: 75%;
    max-width: 75%;
    max-height: 1px;
    margin-top: -20%;
  }
  .price {
    font-size: 75%;
    max-width: 75%;
    max-height: 1px;
    margin-top: -15%;
  }
  .border {
    border-bottom: 1px solid #ccc;
  }
} */

@media (max-width: 425px) {
  .rap {
    margin: 1rem;
  }

  .part {
    display: grid;
    margin: 0%;
    border-bottom: none;
  }
  .img {
    width: 55;
    height: 55;
    margin-left: -0.5rem;
  }
  .part h3 {
    font-size: 85%;
    max-width: 75%;
    max-height: 1px;
    margin-top: -22%;
  }
  .description {
    font-size: 80%;
    max-width: 90%;
    max-height: 1px;
    margin-top: -22%;
  }
  .price {
    font-size: 75%;
    max-width: 75%;
    max-height: 1px;
    margin-top: -18%;
  }
  .border {
    display: flex;
    justify-content: center;
  }
}
