.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 0.5rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fcb900;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-weight: bold;
  margin: 0.1rem;
  max-width: 7rem;
}

.form button:hover,
.form button:active {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 630px) {
  .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: -6rem 0 0 0;
    padding-top: 5px;
  }
  .form button {
    max-width: 5rem;
    font-size: 70%;
    margin: .1rem 0 0 0;
    font: center;
    font-weight: normal;
  }
  .form button:active {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
