.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #fcb900;
  color: black;
  padding: 0 1rem;
  border-radius: 25px;
  font-weight: bold;
  height: 2.5rem;
  width: 4rem;
  float: center;
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.button:hover {
  transform: scale(1.2);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  position: center;
  padding-top: 2px;
}

.badge {
  background-color: #fcb900;
  padding: 0rem 0.3rem;
  border-radius: 25px;
  margin-left: 2rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #f3b301;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.user-button {
  cursor: pointer;
  border: none;
  background-color: #fcb900;;
  color: black;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  height: 2.5rem;
  width: 4rem;
  float: right;
  display: block;
  flex-flow: column flex-end;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.user-button:hover {
  transition: .5s;
  transform: scale(1.2);
}
