.parts {
  max-width: 70rem;
  width: 100%;
  margin-top: 2rem;
  animation: parts-appear 1s ease-out forwards;
  display: flex;
  flex-direction: row;
}

.parts ul {
  padding: auto;
  margin: 0 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading {
  text-align: center;
  color: white;
}

.haserror {
  text-align: center;
  color: red;
}

.sorting {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.sorting h4 {
  color: #fcb900;
  margin: 1rem 3rem;
  cursor: pointer;

}

.sorting button {
  font: inherit;
  cursor: pointer;
  background-color: #fcb900;
  border: none;
  color: black;
  max-height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-weight: bold;
  margin: 1rem 3rem;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
}

@keyframes parts-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 530px) {
  .sorting {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .parts {
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin: 2rem 1;
    animation: parts-appear 1s ease-out forwards;
    display: flex;
    flex-direction: row;
  }

  .parts ul {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sorting h4 {
    color: #fcb900;
    margin: 1rem 3rem;
    cursor: pointer;
    font-size: small;
  }

  .sorting button {
    font-size: small;
    padding: 0.2rem 0.2rem;
  }
}

@media (min-width: 630px) {
  .sorting {
    display: flex;
    flex-direction: row-reverse;
  }
}
