.parts {
  max-width: 70rem;
  width: 100%;
  margin: 2rem auto;
  animation: parts-appear 1s ease-out forwards;
  display: flex;
  flex-direction: row;
}

.parts ul {
  padding: auto;
  margin: 0 0 1em;
  list-style: none outside;
  clear: both;
  display: block;
  list-style-type: disc;
  margin-block-start: 1px;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@keyframes parts-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width: 320px) {
  .parts {
    margin-left: -3%;
    margin-top: -15%;
  }
}

@media (width: 375px) {
  .parts {
    margin-left: 3%;
    margin-top: -15%;
  }
}

@media (width: 425px) {
  .parts {
    margin-left: 0%;
    margin-top: -12%;
  }
}
