* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 6%;
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1160px) {
  .body {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .body {
    max-width: 560px;
  }
}

@media (max-width: 630px) {
  .body {
    max-width: 480px;
  }
}

@media (max-width: 530px) {
  .body {
    max-width: 280px;
  }
}

@media (min-width: 1162px) {
  .body {
    width: 1040px;
  }
}
