.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.25rem .25rem;
  border-radius: 20px;
}

.input input {
  width: 2.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

@media (width: 320px) {
  .input input{
    max-width: 60%;
    max-height: 75%;
    padding-left: 0.35rem;    
  }
}

@media (width: 375x) {
  .input input{
    max-width: 60%;
    max-height: 75%;
    padding-left: 0.35rem;    
  }
}

@media (width: 425x) {
  .input input{
    max-width: 65%;
    max-height: 80%;
    padding-left: 0.35rem;    
  }
}